* {
  color: grey;
  margin: 0px;
  box-sizing: border-box
}

.width {
  font-size: 16px;
}


.container {
  max-width: 960px;
  margin: 10px auto 0 auto;
}


.row {
  display: flex;
}


[class^='col'] {
  padding: 10px;
  border: solid 1px grey;
}


.col {
  width: 8.3333%;
}


.col-2 {
  width: 16.667%;
}


.col-3 {
  width: 24.999%;
}


.col-4 {
  width: 33.333%;
}


.col-5 {
  width: 41.666%;
}


.col-6 {
  width: 49.999%;
}


.col-7 {
  width: 58.333%;
}


.col-8 {
  width: 66.666%;
}


.col-9 {
  width: 74.999%;
}


.col-10 {
  width: 83.333%;
}


.col-11 {
  width: 91.666%;
}


.col-12 {
  width: 100%;
}


@media screen and (max-width: 720px) {
  .row {
    display: initial;
  } 
  div {
    padding-left: 0px;
    border: solid 1px grey;
    width: 100% !important;
  }
}